body{
    margin-left: 10px;
    max-width: 1300px;
}
#first{
    text-align: center;
    font-style: italic;
    color: aliceblue;
    background-color: rgb(146, 119, 28);
    font-size: 15px;

}
#first p a{
    text-decoration: none;
    color: aliceblue;
}
#second .nav nav{
     display:flex;
    flex-wrap: wrap;
    color:rgb(146, 119, 28);
}
#second .nav h2{
    font-size: 20px;
    margin-right: 150px;
}
#second .nav a{
    text-decoration: none;
    color:rgb(146, 119, 28);
    margin-left: 65px;
    margin-right: 15px;
    margin-top: 20px;
}
#second .nav nav .recherche .new{
     background-color: rgb(228, 223, 183);
    border-radius: 5px;
    color:rgb(146, 119, 28) ;
    border-color: rgb(146, 119, 28);
    border: 2px;
}
#second .nav nav p .recherche{
     margin-right: 20px;
     background-color: rgb(146, 119, 28);
     color: rgb(146, 119, 28);
}
#second .nav nav p i {
     font-size: 20px;
     margin-left: 220px;
}
#second .nav nav .recherche{
    margin-left: 3%;
}
.recherche .new{
     background-color: rgb(228, 223, 183);
    border-radius: 5px;
    color:rgb(146, 119, 28) ;
    border-color: rgb(146, 119, 28);
    border: 2px;
}
#second .entête{
    background-image: url(image/spacejoy-9M66C_w_ToM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 0% ;
    background-size: cover;
}
#second .entête p{
     text-align: center;
     color: aliceblue;
}
#second .entête h1{
     text-align: center;
     color: aliceblue;
}
#second .entête .like{
    text-decoration: none;
    border-radius: 4px;
    border: 2px;
    border-color: aliceblue;
}
#second .navbar nav{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(146, 119, 28); ;
}
#second .navbar nav h3{
    font-style: italic;
    margin-left: 20px;
    margin-right: 70px;
    color: aliceblue;

}
#second .navbar nav a{
    margin-top: 20px;
    margin-left: 8%;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}
#second .mininav{
    display:flex;
    flex-wrap: wrap;
}
#second .mininav h2{
    font-style: italic;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 44%;
    color: rgb(146, 119, 28);
}
#second .mininav p{
    font-size: 20px;
    margin-left: 39%;
    color: rgb(146, 119, 28);
    text-decoration: none;
    text-align: right;
}
#second .mininav .VIEW{
    background-color: rgb(228, 223, 183);
    border-radius: 5px;
    color:rgb(146, 119, 28) ;
    border-color: rgb(146, 119, 28);
    border: 2px;
}
#second .top{
    display: flex;
    flex-wrap: wrap;
}
#second .top img{
    width: 27%;
    height: 330px;
    margin-left: 5%;
}
#second .top .sample{
     display: flex;
    flex-wrap: wrap;
}
#second .top .sample p{
    margin-left: 140px;
    margin-right: 176px;
    color: rgb(146, 119, 28);
}
#second .middle{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(228, 223, 183);
}
#second .middle h2{
    font-size: 20px;
    color: rgb(146, 119, 28);
    font-style: italic;
    margin-right: 44%;
    margin-left: 44%;
}
#second .middle .picture {
     display: flex;
    flex-wrap: wrap;
}
#second .middle .picture .KITCHEN{
    margin-right: 40px;
    margin-left: 30px;
    background-image:url(image/sosey-interiors-YABErdnJPGc-unsplash.jpg) ;
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}
#second .middle .picture .BEDROOM{
    margin-right: 40px;
    margin-left: 30px;
    background-image:url(image/francesca-tosolini-hCU4fimRW-c-unsplash.jpg) ;
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
}
#second .middle .picture .BATHROOM{
    margin-right: 40px;
    margin-left: 30px;
    background-image:url(image/phil-hearing-U7PitHRnTNU-unsplash.jpg) ;
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
}
#second .middle .picture .OFFICE{
    margin-right: 40px;
    margin-left: 30px;
    background-image:url(image/collov-home-design-UUsQk_9bdR8-unsplash\ -\ Copie.jpg) ;
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
}
#second .middle .picture .letter{
    margin-top: 367px;
    margin-left: 89px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(228, 223, 183) ;
}
footer p{
    margin-left: 77px;
}
footer .text{
    margin-left: 30%;
}



